:root {
  --ev-white: #ffffff;
  --ev-black: #000000;

  --ev-gray-50: #fafafa;
  --ev-gray-100: #f4f4f5;
  --ev-gray-200: #e4e4e7;
  --ev-gray-300: #d4d4d8;
  --ev-gray-400: #a1a1aa;
  --ev-gray-500: #71717a;
  --ev-gray-600: #52525b;
  --ev-gray-700: #3f3f46;
  --ev-gray-800: #27272a;
  --ev-gray-900: #18181b;

  --ev-primary-50: #ecfdf5;
  --ev-primary-100: #d1fae5;
  --ev-primary-200: #a7f3d0;
  --ev-primary-300: #6ee7b7;
  --ev-primary-400: #34d399;
  --ev-primary-500: #12d377;
  --ev-primary-600: #059669;
  --ev-primary-700: #047857;
  --ev-primary-800: #065f46;
  --ev-primary-900: #064e3b;
  --ev-secondary: #6954cb;

  --ev-error: #eb5757;
  --ev-success: #27ae60;
  --ev-warning: #f2c94c;

  --ev-bg: var(--ev-white);
  --ev-bg-soft: var(--ev-gray-50);
  --ev-text: var(--ev-gray-900);
  --ev-text-soft: var(--ev-gray-600);
  --ev-border: var(--ev-gray-200);
  --ev-primary: var(--ev-primary-500);
  --ev-primary-hover: var(--ev-primary-600);
}